**********************************************
*      Welcome to My Awesome Server         *
**********************************************
Hostname: {{ ansible_fqdn }}
IP Address: {{ ansible_default_ipv4.address }}
Operating System: {{ ansible_distribution }} {{ ansible_distribution_version }}
Kernel: {{ ansible_kernel }}
Architecture: {{ ansible_architecture }}

  ,--.
 |o_o |   
 |:_/ |   
//  \ \  
(\ 0 /) 
'-' '-' 
